<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robot World</title>
  </head>
  <body>
    <h1>Welcome to Robot World!</h1>
    <ul>
      <li><a href="/robots">Robot Index</li>
      <li><a href="/robots/new">Create a New Robot</li>
    </ul>
  </body>
</html>
