<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robot Index</title>
  </head>
  <body>
    <h1>All the Robots</h1>
    <% @robots.each do |robot|%>
      <h3><a href="/robots/<%= robot.name%>"><%= robot.name %></a></h3>
      <!-- <a href='/robots/<%= robot.name%>/edit'>Edit</a> -->
    <% end %>
  </body>
</html>
