<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/bootstrap.css">
  <title>Robot World</title>
</head>
<body>
  <div class="container">
    <div class="navbar navbar-default">
    <ul class="nav navbar">
      <a class="navbar-brand" href="/">Home</a>
      <li><a class="navbar-text" href="/robots">Robot Index</a></li>
      <li><a class="navbar-text" href="/robots/new">Create a New Robot</a></li>
    </ul>
    </div>
    <%= yield %>
  </div>
</body>
</html>
